/* for my html page */

@font-face
{
    font-family: "better";
    src: url("better.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

a:hover
{
    color: rgb(23, 26, 216);
}

li.flex-item
{
    background-color: yellow;
}

a:active
{
    color: rgb(216, 132, 23);
}

h1 + div
{
    background-color: aquamarine;
}

header > div
{
    background-color: orange;
}

section p
{
    background-color: pink;
}

a[target] 
{
    background-color: yellow;
}

body 
{
    background-color: lightblue;
    padding-top: 25px;
    padding-bottom: 50px;
    display: block;
    min-width: 30;
    max-width: 500;
    font-family: 'better', sans-serif;
}

@media (min-width: 30rem)
{
    h1
    {
        color: red;
    }
}

@media (max-width: 45rem)
{
    h1
    {
        color: green;
    }
}
  
h3 ~ p
{
    background: #ff0000;
}

h1 
{
    color: #AFEF;
    margin: auto;
    padding: 25px 25px 25px 25px;
    text-decoration-line: underline;
    text-align: left;
    font-family: "better", ""
}

h2 
{
    color: rgb(222, 111, 44);
    margin: 25px 25px 25px 50px;
}

h3, h4
{
    color: hsl(2,45,1);
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 10vw;
    margin-bottom: 10vw;
}



li
{
    display: inline;
    height: 150px;
    width: 50px;
}

div *
{
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

p.dotted 
{
    border-style: dotted;
    border-width: 5px;
    border-color: red;
    border-radius: 8px;
    position: fixed;
}

p.ridge
{
    border-style: dotted;
    border-width: 5px;
    border-color: red;
    border-radius: 8px;
    position: absolute;
}

.flex-container 
{
    display: flex;
    flex-flow: row-wrap;
    justify-content: space-around;
}

.flex-item
{
    background: yellowgreen;
    padding: 10px;
    width: 100px;
    height: 50px;
    text-align: center;
    color: white;
}

.grid-container
{
    display: inline grid;
    grid-template-columns: 60px;
    grid-template-rows: 60px 60px 60px;
    grid-auto-flow: column;
}

.item1
{
    grid-column: 1;
    grid-row: 1 / 3
}

.item2
{
    grid-column: 1;
    grid-row: 2 / 3
}

#item3
{
    grid-column: 1;
    grid-row: 3 / 3
}